<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualités</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Lien vers votre fichier CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="#accueil">Accueil</a></li>
            <li><a href="#actualite">Actualité</a></li>
            <li><a href="#evenements">Événements</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#profil">Profil</a></li>
        </ul>
    </nav>

   
    <section id="evenements">
        <h1>Événements</h1>
        <div class="message">
        <% if (typeof message !== 'undefined' && message.length > 0) { %>
            <div style="color: rgb(236, 194, 25); font-weight: bold;"><%= message %></div>
          <% } %>
        </div>
        <div class="card-container">
            <% evenements.forEach(function(evenement) { %>
                <div class="card">
                    <img class="imag" src="/<%= evenement.image.replace(/\\/g, '/') %>" alt="<%= evenement.titre %>">


                    <div class="card-content">
                        <h2 class="card-title"><%= evenement.titre %></h2>
                        <h3 class="card-lieu"><i class="fas fa-map-marker-alt"></i> <%= evenement.lieu %></h3>
                        <p class="card-date"><i class="fas fa-calendar-alt"></i> De <%= new Date(evenement.date_debut).toLocaleDateString('fr-FR') %> à <%= new Date(evenement.date_fin).toLocaleDateString('fr-FR') %></p>
                        <!-- <p class="card-description"><%= evenement.description %></p> sera faite en read more  -->
                    </div>
                    <div class="card-actions">
                        <a class="lien" href="/candidater/<%= evenement.id %>">Inscrire</a><!--/candidater/<%= evenement.id %>-->
                        <a class="lien" href="#">Voir plus</a>
                    </div>
                </div>
            <% }); %>
        </div>
        <script src="/js/flash.js" ></script>
    </section>
    
   

</body>
</html>
